# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment files (Safety fallback)
.env
.env.local
*.json.key
serviceAccountKey.json

# Build artifacts
dist/
frontend/dist/
frontapp/dist/
public_html/

# Firebase
.firebase/
firebase-debug.log
auth-debug.log
functions-debug.log
